Repository Free-Brick-Studio/Bricxer, pull requests merged in 2020-12, with the labels that each got.

#6 Most of Windows OS Connector Built
  .gitignore
  SystemConnectors/WindowsConnector/MediaController.py
  SystemConnectors/WindowsConnector/ProcessController.py
  SystemConnectors/WindowsConnector/VolumeMixer.py
  requirements.txt
Labels: Enhancement, OS Connection

#7 Windows OS connection
  SystemConnectors/IOsConnection.py
  SystemConnectors/WindowsConnector/WindowsConnector.py
  SystemConnectors/WindowsConnector/__init__.py
  SystemConnectors/__init__.py
Labels: Enhancement, OS Connection

#8 Volume mixer to OS connection
  VolumeLogic/Application.py
  VolumeLogic/VolumeMixer.py
  VolumeLogic/__init__.py
Labels: Bug, Enhancement, Volume Mixer

#11 General cleanup
  VolumeLogic/Application.py
  VolumeLogic/Subject.py
  VolumeLogic/VolumeMixer.py
Labels: Bug, Volume Mixer

#12 Code cleanup
  SystemConnectors/WindowsConnector/ProcessController.py
  SystemConnectors/WindowsConnector/WindowsConnection.py
  SystemConnectors/WindowsConnector/__init__.py
  SystemConnectors/__init__.py
  VolumeLogic/Application.py
  VolumeLogic/IObserver.py
  VolumeLogic/VolumeMixer.py
  VolumeLogic/__init__.py
Labels: Bug, OS Connection, Volume Mixer

#15 Change volume mixer logic
  VolumeLogic/Application.py
  VolumeLogic/IObserver.py
  VolumeLogic/VolumeMixer.py
  VolumeLogic/__init__.py
Labels: Bug, Volume Mixer

#16 Hardware
  .gitignore
  Brixcer_Box/include/KnobControl.h
  Brixcer_Box/include/LedControl.h
  Brixcer_Box/include/MediaControl.h
  Brixcer_Box/include/README
  Brixcer_Box/lib/README
  Brixcer_Box/platformio.ini
  Brixcer_Box/src/KnobControl.cpp
  Brixcer_Box/src/LedControl.cpp
  Brixcer_Box/src/MediaControl.cpp
  Brixcer_Box/src/main.cpp
  Brixcer_Box/test/README
Labels: Controller, Enhancement

#14 Front end
  .gitignore
  UI/FrontEnd.py
  UI/__init__.py
Labels: Enhancement, Front End

#18 Create pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: Enhancement

#22 Added MediaLogic for incoming media control requests
  MediaLogic/MediaControl.py
  MediaLogic/__init__.py
Labels: Back End, Enhancement

#23 Rearrange file structure so PR template works
  .github/pull_request_template.md
Labels: Bug

#25 Update README.md
  README.md
Labels: Documentation, Enhancement

#17 Removed anything after the last "." from the name string
  SystemConnectors/WindowsConnector/ProcessController.py
Labels: Bug, OS Connection

#26 Created Main.py to run, rather than start up the application in Front…
  Main.py
  UI/FrontEnd.py
Labels: Bug, Enhancement, Front End

#28 Controller connection
  Brixcer_Box/.gitignore
  Brixcer_Box/platformio.ini
  Brixcer_Box/src/main.cpp
  ControllerConnection/ControllerConnection.py
  ControllerConnection/ControllerReceiver.py
  ControllerConnection/__init__.py
  Main.py
  VolumeLogic/VolumeMixer.py
  requirements.txt
Labels: Controller Connection, Enhancement
